@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.avatar-container {
    overflow: hidden;
    border-radius: 9999px;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}